#map {
  height: 100vh;
  width: 100%;
}

/* Sidebar container */
.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  width: 320px;
  height: 100vh;
  background: white;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 1000;
  overflow-y: auto;
  animation: slideIn 0.25s ease-out;
}

/* Slide animation */
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

/* Close button */
.close-btn {
  background: transparent;
  border: none;
  font-size: 22px;
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
}

/* Optional image */
.sidebar-image {
  width: 100%;
  margin-top: 10px;
  border-radius: 4px;
}

.description {
  margin-top: 10px;
  line-height: 1.4;
}

/* customized marker */
.heat-marker {
  background-color: rgba(199, 0, 0, 0.3);
  /* Red with 30% opacity */
  border: 1px solid rgba(196, 0, 0, 0.8);
  /* Darker red border */
  border-radius: 50%;
  /* Makes it circular */
  width: 20px;
  height: 20px;
}